<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>小区物业信息管理</title>
      <script src="/javascripts/angular.min.js"></script>
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
      <script src="/controllers/usermsgctrl.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/layoutit.css">
      <style type="text/css">
        body {
          margin-left: 10%;
          margin-right: 10%;
         
         background: url("/images/bg.jpg");
         background-position: center 0; 
         background-repeat: no-repeat;  
         background-attachment: fixed; 
         background-size: cover; 
         -webkit-background-size: cover;  
         -o-background-size: cover;  
         -moz-background-size: cover;  
         -ms-background-size: cover;
     
        }
       </style>
  </head>
  <body>    
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"> 小区物业信息管理系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/user">我的工单</a></li>
                <li class="active"><a href="/usermsg">我的信息</a></li>
                <li><a href="/usertrades">闲置交易</a></li>
                <li><a href="/logout">退出</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="container" ng-app="myApp" ng-controller="viewMsg">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#view" data-toggle="tab">我的信息</a></li>
              <li ><a href="#change" data-toggle="tab">修改信息</a></li>
              <li ><a href="#udpw" data-toggle="tab">修改密码</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="view">
            <div class="alert alert-info text-center" ng-show="user.msg">{{user.msg}}</div>
            <div class="row">
                <% if (locals.msg){ %>
                  <div class="alert alert-success">
                    <%= msg %>
                  </div>
                  <% } else if (locals.errMsg){ %>
                    <div class="alert alert-danger">
                      <%= errMsg %>
                    </div>
                    <% } %>
                <div class="col-lg-offset-3" style="max-width: 400px; margin: auto;" >
                  <h3>个人信息</h3>
                  <ul class="list-group">
                    <li class="list-group-item">用户ID ：{{user.userid}}</li>
                    <li class="list-group-item">姓  名 ：{{user.name}}</li>
                    <li class="list-group-item">单元号 ：{{user.unit}}</li>
                    <li class="list-group-item">房间号 ：{{user.room}}</li>
                    <li class="list-group-item">手机号 ：{{user.phone}}</li>
                    <li class="list-group-item">电 量 ：{{user.electric}} <a href="/user/electric">缴费</a></li>
                  </ul>
                </div>
              </div>
              </div>
              <div class="tab-pane " id="change">
                <div class="row">
                  <div class="col-lg-offset-3" style="max-width: 400px; margin: auto;">
                    <h3>修改信息</h3>
                    <form class="form-horizontal" name="mdMsg">
                        <p class="alert alert-danger " ng-show="ud.errMsg">{{ud.errMsg}}</p>
                        <p class="alert alert-success" ng-show="ud.msg">{{ud.msg}}</p>
                        <div class="control-group"><label class="control-label" for="name" contenteditable="true">姓名</label>
                        
                        <div class="controls"><input id="name" name="name" placeholder="姓名" type="text" ng-model="ud.name" required></div>
                        </div>
                        <div class="control-group">
                          <label for="unit">单元号</label>
                          <select name="unit" id="unit" class="controls" ng-model="ud.unit">
                            <% var options=[] %>
                            <% for (var i=1;i<=20;i++) { %>
                              <option value="<%= i %>"><%= i %></option>
                            <% } %>
                          </select>
                        </div>
                        <div class="control-group">
                          <label for="room">房间号</label>
                          <select name="room" id="room" class="controls" ng-model="ud.room">
                            <% var options=[]  %>
                              <%  for (var n=1;n<=11;n++){ %>
                                <%  for (var m=1;m<=9;m++){ %>
                                    <option value="<%= n %>0<%= m %>"><%= n %>0<%= m%></option>
                                <%  } %>
                              <%  } %>
                          </select>
                        </div>
                        <div class="control-group"><label class="control-label" for="phone" contenteditable="true">手机</label>
                        
                        <div class="controls"><input id="phone" name="phone" placeholder="11位手机号" ng-pattern="/[0-9]{11}/" type="text" ng-model="ud.phone" required></div>
                        </div>
                              
                        <div class="control-group">
                        <div class="controls">
                          <label class="checkbox" >
                            <button class="btn btn-primary"   ng-click="update()" ng-disabled="mdMsg.name.$invalid || mdMsg.phone.$invalid" >修改</button>
                        </label></div>
                        </div>
                        </form>
                  </div>
                </div>
              </div>
                <div class="tab-pane" id="udpw">
                    <div class="row">
                      <div class="col-lg-offset-3" style="max-width: 400px; margin: auto;">
                  <h3>修改密码</h3>
                  <form name="mdPw">
                    <p class="alert alert-danger " ng-show="md.errMsg">{{md.errMsg}}</p>
                    <p class="alert alert-success" ng-show="md.msg">{{md.msg}}</p>
                    <p ng-show="mdPw.newpasswd.$error.minlength">密码长度至少为6位</p> 
                    <p ng-show="mdPw.newpasswd.$error.maxlength">密码长度不超过20位</p>
                    <div class="alert alert-danger" ng-show="md.newpasswd!=md.repasswd">两次密码输入不一致</div>
                      <div class="control-group"><label class="control-label" for="room" contenteditable="true" >原密码</label>
                        <div class="controls"><input id="password" name="password" placeholder="原密码" type="password" ng-model="md.password" required></div>
                        </div>
                        <div class="control-group"><label class="control-label" for="phone" contenteditable="true">新密码</label>
                        <div class="controls"><input id="newpasswd" name="newpasswd" placeholder="新密码" type="password" ng-model="md.newpasswd" ng-minlength="6"
                          ng-maxlength="20" ng-pattern="/[a-zA-Z0-9]/" required></div>
                        </div>
                        <div class="control-group"><label class="control-label" for="phone" contenteditable="true">重复一次密码</label>               
                        <div class="controls"><input id="repasswd" name="repasswd" placeholder="重复输入" type="password" ng-model="md.repasswd" required></div>
                        </div>
                        <div class="control-group">
                          <div class="controls" >
                            <label class="checkbox" >
                              <button class="btn btn-primary"  ng-click="modify()" ng-disabled="md.newpasswd== null || mdPw.newpasswd.$invalid">修改密码</button>
                          </label>
                        </div>
                      </div>
                   </form>
                   </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>